body {
	margin: 0;
	padding: 0;
	background-color: #0d0d0d;
	color: #f5f5f5;
	font-family: "Special Elite", cursive;
	font-size: 16px;
	line-height: 1.6;
	background-image: url("../image/backgrounds/backgroundHome.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	scroll-behavior: smooth;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

html {
	scroll-behavior: smooth;
}

.fade-in-scroll {
	animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

section:target {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.9s ease-out, transform 0.9s ease-out;
	scroll-margin-top: 100px;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1000;
	padding: 0.5rem 1rem;
	background-color: transparent; 
}

.navbar-content {
	max-width: 1100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	padding: 10px 20px;
}

.navbar.scrolled {
	background-color: rgb(0, 0, 0);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
	transition: background-color 0.5s ease, box-shadow 0.5s ease;
	transition: all 0.4s ease-in-out;
}

.navbar img {
	height: 40px;
	width: auto;
	object-fit: contain;
	margin-right: 20px;
}

.navbar ul {
	display: flex;
	list-style: none;
	gap: 30px;
	margin: 0;
	padding: 0;
	align-items: center;
}

.navbar ul li a {
	color: #f5f5f5;
	text-decoration: none;
	font-family: "Special Elite", cursive;
	font-size: 20px;
	transition: color 0.3s ease;
}

.navbar ul li a:hover {
	color: #b20000;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.button_login {
	background-color: #2a2a2a;
	color: #b20000;
	border: 2px solid #888888;
	border-radius: 8px;
	padding: 10px 20px;
	font-family: "Special Elite", monospace;
	font-size: 16px;
	text-shadow: 1px 1px 2px #000;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

.button_login:hover {
	background-color: #444;
	color: #f0f0f0;
	border-color: #bbbbbb;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
	transform: scale(1.05);
}

a {
	text-decoration: none;
	color: #f0f0f0;
}

.conteudo-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-top: 400px;
	margin: 0;
	box-sizing: border-box;
}

.texto_home {
	color: #f0f0f0;
	text-align: center;
	font-family: "Special Elite", cursive;
	font-weight: bolder;
}

.conteudo-home p {
	font-size: 4vh;
}

.button_conheça {
	background-color: #2a2a2a;
	color: #f0f0f0f0;
	border: 2px solid #888888;
	border-radius: 8px;
	padding: 10px 20px;
	font-family: "Special Elite", monospace;
	font-size: 16px;
	text-shadow: 1px 1px 2px #000;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

.button_conheça:hover {
	background-color: #444;
	color: #f0f0f0;
	border-color: #bbbbbb;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
	transform: scale(1.05);
}

.button_login:focus,
.button_conheça:focus {
	outline: 2px dashed #b20000;
	outline-offset: 4px;
}

.sobre {
	padding: 0;
	background-image: url("../image/backgrounds/backgroundSobre.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
}

.sobre img {
	height: 40px;
	width: 40px;
	padding-right: 10px;
}

.titulo-sobre {
	font-size: 35px;
	font-family: "Special Elite", cursive;
	margin-top: 0;
	margin-bottom: 0;
	color: #b20000;
}

.titulo {
	flex-direction: row;
	display: flex;
	justify-content: center;
}

.container-sobre {
	display: flex;
	flex: 1;
	justify-content: pace-evenly;
	align-items: flex-start;
	text-align: left;
	gap: 20px;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 20px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50px;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.coluna-sobre h3 {
	padding-top: 20px;
	color: #b20000;
	font-size: 30px;
	margin: 0;
}

.coluna-sobre p {
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 2;
	text-align: justify;
	font-family: "Poppins", sans-serif;
	margin: 0;
	margin-bottom: 15px;
}

.coluna-sobre {
	font-style: italic;
	font-size: 15px;
	color: #000000;
	padding-left: 20px;
	padding-right: 10px;
	margin-top: 0;
	align-items: end;
	flex: 1;
	justify-content: space-evenly;
	text-align: left;
}

#quadrado2 {
	background-color: rgba(255, 255, 255, 0.815);
	padding: 10px;
	max-width: 1200px;
	width: 100%;
	text-align: center;
	margin: 0;
	background: linear-gradient(135deg,rgba(255, 255, 255, 0.45),rgb(240, 248, 255));
	border-radius: 20px;
}

.conteudo-personagens {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 60px 40px;
	color: white;
	text-align: center;
	min-height: auto; 
  padding-bottom: 80px; 
  position: relative;
}

.conteudo-personagens h2 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 40px;
	color: #b20000;
}

.cards-container {
	display: flex;
	justify-content: center;
	gap: 40px;
	padding: 60px 20px;
	flex-wrap: wrap;
	font-family: "Special Elite", cursive;
	font-size: 5vh;
	height: 55vh;
}

.card {
	background-color: #f5f5f5;
	border-radius: 20px;
	overflow: hidden;
	max-width: 500px;
	width: 100%;
	height: 500px;
	box-shadow: -1px 2px 100px -12px rgba(255, 255, 255, 0.484);
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
	perspective: 1000px;
	cursor: pointer;
}

.card-inner {
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.card.virado .card-inner {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	color: black;
	border-radius: 20px;
	background: white;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	backface-visibility: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-front img {
	width: 100%;
	height: auto; 
	object-fit: cover;
	background-size: contain;
	transform: rotateY(0deg);
}

.card-back {
	background-color: #ffffff;
	transform: rotateY(180deg);
	padding: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	height: 100%;
	box-sizing: border-box;
}

.card-back h2 {
	font-size: 28px;
	margin: 0;
	color: #000000;
}

.card-back p {
	font-size: 15px;
	color: #3a3a3a;
	text-align: center;
}

.imagem-card {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.imagem-card img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-size: contain;
	transform: rotateY(0deg);
}

.card h2 {
	margin-bottom: -3vh;
	font-size: 3vh;
	font-weight: bold;
	color: #b20000;
	text-align: start;
	margin-left: 2vh;
	box-shadow: -1px 2px 100px -12px rgba(255, 255, 255, 0.268);
}

.card p {
	color: #2a2a2a;
	text-align: start;
	padding: 3vh;
	font-weight: bold;
	line-height: 1.5;
}

.texto {
	font-size: 20px;
	margin: 30px;
}

.curiosidades {
	padding: 0;
	background-image: url("../image/backgrounds/backgroundCuriosidades.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	margin-top: 1600px;
}

.curiosidades img {
	height: 40px;
	width: 40px;
	padding-right: 10px;
}

.titulo-curiosidades {
	font-size: 35px;
	font-family: "Special Elite", cursive;
	margin-top: 0;
	margin-bottom: 0;
	color: #b20000;
}

.titulo {
	flex-direction: row;
	display: flex;
	justify-content: center;
}

.container-curiosidades {
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	align-items: flex-start;
	text-align: left;
	gap: 20px;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 20px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50px;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.coluna-curiosidades h3 {
	padding-top: 20px;
	color: #b20000;
	font-size: 30px;
	margin: 0;
}

.coluna-curiosidades p {
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 2;
	text-align: justify;
	font-family: "Poppins", sans-serif;
	margin: 0;
	margin-bottom: 15px;
}

.coluna-curiosidades {
	font-style: italic;
	font-size: 15px;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;
	align-items: end;
	flex: 1;
	justify-content: space-evenly;
	text-align: left;
}