body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	background-color: #8888;
	border: 2px solid #444;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	overflow: hidden;
	max-width: 900px;
	width: 90%;
}

.formulario-box {
	padding: 40px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
		url("../assets/imgs/sigilo.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.formulario-box h1 {
	font-family: "Special Elite", cursive;
	font-size: 28px;
	margin-bottom: 10px;
	color: #b20000;
	text-align: center;
}

.formulario-box p {
	text-align: center;
	font-size: 15px;
	margin-bottom: 30px;
	color: #f5f5f5;
}

label {
	font-family: "Special Elite", cursive;
	display: block;
	margin-bottom: 5px;
	color: #b20000;
	font-size: 18px;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #222;
	color: #fff;
}

.button {
	background-color: #2a2a2a;
	color: #f0f0f0;
	border: 2px solid #888888;
	border-radius: 8px;
	padding: 10px 20px;
	font-family: "Special Elite", monospace;
	font-size: 16px;
	text-shadow: 1px 1px 2px #000;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
	margin-top: 10px;
	margin-left: 40%;
}

.button:hover {
	background-color: #444;
	color: #f0f0f0;
	border-color: #bbbbbb;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
	transform: scale(1.05);
}

.button:focus {
	outline: 2px dashed #b20000;
	outline-offset: 4px;
}

.image-box {
	width: 80%;
	background-image: url("../assets/imgs/backgroundLogin.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-box img {
	max-width: 110%;
	height: auto;
	border-radius: 2px;
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
}

.conta {
	text-align: center;
	margin-top: 20px;
	font-family: "Poppins", sans-serif;
	color: #f0f0f0;
	font-size: 14px;
}

.conta a {
	color: #b20000;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}

.conta a:hover {
	color: #ff4444;
	text-decoration: underline;
}

.button-home {
	text-align: center;
	margin-top: 40px;
}

.button-home a {
	display: inline-block;
	background-color: #2a2a2a;
	color: #f0f0f0;
	border: 2px solid #888888;
	border-radius: 8px;
	padding: 10px 20px;
	font-family: "Special Elite", monospace;
	font-size: 14px;
	text-shadow: 1px 1px 2px #000;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
	text-decoration: none;
}

.button-home a:hover {
	background-color: #444;
	color: #fff;
	border-color: #bbbbbb;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
	transform: scale(1.05);
}

.frase {
	font-family: "Special Elite", cursive;
	color: #f0f0f0;
	font-size: 14px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	margin-top: 40px;
}

.frase-latin:hover {
	color: #ff4444;
	text-shadow: 0 0 10px #b20000;
	transition: all 0.3s ease-in-out;
}
